@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/*글제목 UI*/
h2 {
    margin: 20px;
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black", sans-serif;
    font-size: 60px;
    font-weight: bold;
}

h3 {
    margin: 20px;
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

text1 {
    background-color: #F44336;
    color: #ffffff;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255,0.4);
}

/*등록 및 수정버튼 UI*/
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-indigo {
    border: 3px solid #d7e8f6;
    background-color: aliceblue;
    opacity: 0.9;
    color: #1e6b7b;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

/*취소 버튼 UI*/
.w-btn-gray {
    background-color: #a3a1a1;
    color: #ffffff;
}

/*삭제 버튼 UI*/
.w-btn-outline {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-red-outline {
    border: 3px solid #efe2e2;
    color: #6e6e6e;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.w-btn-red-outline:hover {
    background-color: #fc7171;
    color: #e1eef6;
}
